<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog detail</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
       {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
        {% if blog.author == user %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'update' blog.slug %}">Update</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'delete' blog.slug %}">Delete</a>
      </li>
        {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'searchblog'%}" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" id="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{blog.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{blog.author}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ blog.timestamp|date:"j F, Y" }}</p>

       {% for tag in blog.tags.all %}
								tags: <a href="/blog/search/?tag_q={{tag.title}}">{{ tag.title }}</a>
								{% endfor %}

        <hr>

        <!-- Preview Image -->


        <hr>

        <!-- Post Content -->
        <p class="lead"><p style="word-wrap: break-word;">
        {{ blog.content |safe }}
      </p>



        <hr>

        <!-- Comments Form -->


        <!-- Single Comment -->


        <!-- Comment with nested comments -->


  <div style="width:100%;">
					 {% if previous_blog != None %}
					<a href="{{ previous_blog.get_absolute_url }}" title="{{previous_blog.title}}" class="btn-prev-wrap">
						<svg class="btn-prev">
							<use xlink:href="#arrow-left"></use>
						</svg>
						<div class="btn-content" >
							<div class="btn-content-title">Previous Post</div>
							<p class="btn-content-subtitle">{{previous_blog.title}}</p>
						</div>
					</a>
					{% endif %}
					{% if next_blog != None %}
					<a href="{{ next_blog.get_absolute_url }}" title="{{next_blog.title}}" class="btn-next-wrap">
						<div class="btn-content" style="margin-left:400px; margin-top:-65px;">
							<div class="btn-content-title">Next Post</div>
							<p class="btn-content-subtitle">{{next_blog.title}}</p>
						</div>
						<svg class="btn-next">
							<use xlink:href="#arrow-right"></use>
						</svg>
					</a>
					{% endif %}
				</div>





      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->


        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Blog Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for categories in blog.categories.all %}
                  <li>
                    <a href="#">{{ categories.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>

        <!-- Side Widget -->


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
